<%- include('../include/enhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../include/ennav.ejs') %>
  <!-- Full Page Image Header with Vertically Centered Content -->

  
  <!-- Page Content -->
  <div class="container py-3 mt-5">
      <div class="alert alert-primary mt-5 text-center citation" role="alert">
          <strong>FRENCH CLASSES</strong>
      </div>
  </div>

  <div class="container">
    <div class="row m-2">
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF A1</div>
          <div class="card-body">
            <h5 class="card-title">DELF A1 CLASS</h5>
            <p class="card-text">DELF A1 highlights the first knowledges in French language. DELF A1 recognizes basic knowledge.</p>
            <a href="/a1-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF A2</div>
          <div class="card-body">
            <h5 class="card-title">DELF A2 CLASS</h5>
            <p class="card-text">DELF A2 is based on the same principle of DELF A1: it recognizes the linguistic competency of a basic user.</p>
            <a href="/a2-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF B1</div>
          <div class="card-body">
            <h5 class="card-title">DELF B1 CLASS</h5>
            <p class="card-text">DELF B1. At this level, the user becomes independent. He/she is capable of dealing with situations likely to arise in daily life.</p>
            <a href="/b1-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF B2</div>
          <div class="card-body">
            <h5 class="card-title">DELF B2 CLASS</h5>
            <p class="card-text">A B2 user has a degree of independence that allows him/her to construct arguments to defend his/her opinion.</p>
            <a href="/b2-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DALF C1</div>
          <div class="card-body">
            <h5 class="card-title">DALF C1 CLASS</h5>
            <p class="card-text">Language users at C1 level are autonomous. They are able to communicate fluently and spontaneously.</p>
            <a href="/c1-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DALF C2</div>
          <div class="card-body">
            <h5 class="card-title">DALF C2 CLASS</h5>
            <p class="card-text">Command of the language is conveyed by accuracy, appropriateness and fluency of expression.</p>
            <a href="/c2-details" class="btn btn-primary">See details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <h3>DELF </h3>
    <p class="lead">FRENCH: Diplôme d'études en langue française</p>
    <p class="lead">ENGLISH: Diploma in French Language Studies</p>
    <h3>DALF</h3>
    <p class="lead">FRENCH: Diplôme Approfondi De Langue Française</p>
    <p class="lead">ENGLISH: Advanced french language diploma</p>
  </div>


      <hr>
      <!-- Footer -->
<!-- Footer -->
<%- include('../include/enend.ejs') %>
  <!-- Footer -->
<!-- Footer -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
  