<%- include('../include/enhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../include/ennav.ejs') %>
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-10 mt-5 text-left">
            <div class="card">
                <div class="card-body citation">
                    You live a new life for every language you speak.
                </div>
              </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-3">
    <div class="container">
      <h2 class="font-weight-light">LEARN FRENCH</h2>
      <p>“You can never understand one language until you understand at least two.” – Geoffrey Willans</p>
    </div>
  </section>

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <a href="/classdetails"><button type="button" class="btn btn-danger form-control action">START LEARNING NOW</button></a>
          </div>
      </div>
  </div>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-6 mb-2">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="learn.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">FRENCH CLASSES</h5>
                  <p class="card-text">More than 300 million people speak French on the five continents.French is the second most widely learned foreign language after English.<strong> French classes are available for all levels.</strong></p>
                  <a href="/classdetails" class="btn btn-primary">COURSE DETAILS</a>
                </div>
              </div>
          </div>
          <div class="col-md-6mb-2">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="pclass.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">PRACTICE SESSIONS</h5>
                  <p class="card-text">This course has been created to help those who already have knowledge and wish to improve it through Practice.<strong> This course allows you to practice your speaking, reading and listening skills.</strong></p>
                  <a href="/practicedetails" class="btn btn-primary">COURSE DETAILS</a>
                </div>
              </div>
           </div>
      </div>
  </div>

      <hr>
      <!-- Footer -->
<!-- Footer -->
<%- include('../include/enend.ejs') %>
  <!-- Footer -->
<!-- Footer -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
  