<%- include('../../include/enhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../../include/ennav.ejs') %>
  <!-- Full Page Image Header with Vertically Centered Content -->

  
  <!-- Page Content -->
  <div class="container py-5 mt-5">
      <div class="alert alert-primary mt-5 text-center citation" role="alert">
          <strong>B2 CLASS</strong>
      </div>
      <div class="jumbotron">
        <h1 class="display-4">  What you'll learn</h1>
        <div class="row">
          <div class="col-md-12">
            <p class=""><i class="fas fa-check"></i> <strong>Listening: </strong> understand fairly long lectures and speeches and even follow argumentation.</p>
          </div>
          <div class="col-md-12">
            <p class=""><i class="fas fa-check"></i> <strong>Reading: </strong>  read articles and reports on contemporary issues in which the authors adopt a particular attitude or point of view.</p>
          </div>
          <div class="col-md-12">
            <p class=""><i class="fas fa-check"></i> <strong>Speaking: </strong>  communicate with a degree of spontaneity and fluency that makes normal interaction with a native speaker possible.</p>
          </div>
          <div class="col-md-12">
            <p class=""><i class="fas fa-check"></i> <strong>Participate in a conversation</strong> deal with the majority of situations that can be encountered in a region where the language is spoken.</p>
          </div>
          <div class="col-md-12">
            <p class=""><i class="fas fa-check"></i> <strong>writing: </strong>  write clear, detailed texts on a wide range of topics related to my interests.</p>
          </div>
        </div>
        <a class="btn btn-danger btn-lg form-control" href="/registration" role="button">Start now</a>
      </div>
  </div>

  <div class="container">
    <h3 class="text-center display-4">Course content</h3>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Vocabulary Topics <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Alphabet , Numbers , Family name & Given Name , Residence , Personal items , Classroom objects , Nationalities , Nationalities , Professions , Marital status (married / single) ,  Countries & Cities , Hobbies , Family , Time , Prices , Weather / Climate , Date , Days of the week , Descriptions (small, big, old, young, etc) , Colours, Seasons , Places
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Grammar Topics <i class="fas fa-arrow-alt-circle-down    "></i>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingFour">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Speaking Topics <i class="fas fa-arrow-alt-circle-down"></i>
            </button>
          </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>


      <hr>
      <!-- Footer -->
<!-- Footer -->
<%- include('../../include/enend.ejs') %>
  <!-- Footer -->
<!-- Footer -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
