<%- include('../include/frhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../include/frnav.ejs') %>
  <!-- Full Page Image Header with Vertically Centered Content -->

  
  <!-- Page Content -->
  <div class="container py-3 mt-5">
      <div class="alert alert-primary mt-5 text-center citation" role="alert">
          <strong>COURS DE FRANÇAIS</strong>
      </div>
  </div>

  <div class="container">
    <div class="row m-2">
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF A1</div>
          <div class="card-body">
            <h5 class="card-title">CLASSE DELF A1</h5>
            <p class="card-text">Le DELF A1 met en évidence les premières connaissances en langue française. Le DELF A1 reconnaît les connaissances de base.</p>
            <a href="/fr/a1-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF A2</div>
          <div class="card-body">
            <h5 class="card-title">CLASSE DELF A2</h5>
            <p class="card-text">Le DELF A2 est basé sur le même principe que le DELF A1: il reconnaît la compétence linguistique d'un utilisateur de base.</p>
            <a href="/fr/a2-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF B1</div>
          <div class="card-body">
            <h5 class="card-title"> CLASSE DELF B1</h5>
            <p class="card-text"> DELF B1. A ce niveau, l'utilisateur devient indépendant. Il est capable de faire face à des situations susceptibles de survenir dans la vie quotidienne.</p>
            <a href="/fr/b1-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DELF B2</div>
          <div class="card-body">
            <h5 class="card-title">CLASSE DELF B2</h5>
            <p class="card-text"> Un utilisateur B2 a un degré d'indépendance qui lui permet de construire des arguments pour défendre son opinion.</p>
            <a href="/fr/b2-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DALF C1</div>
          <div class="card-body">
            <h5 class="card-title">CLASSE DALF C1</h5>
            <p class="card-text"> Les utilisateurs de la langue au niveau C1 sont autonomes. Ils sont capables de communiquer couramment et spontanément.</p>
            <a href="/fr/c1-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">DALF C2</div>
          <div class="card-body">
            <h5 class="card-title">CLASSE DALF C2</h5>
            <p class="card-text"> La maîtrise de la langue est transmise par l'exactitude, la pertinence et la fluidité de l'expression.</p>
            <a href="/fr/c2-details" class="btn btn-primary">Voir les détails</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-5">
    <h3>DELF </h3>
    <p class="lead">FRANÇAIS: Diplôme d'études en langue française</p>
    <p class="lead">ANGLAIS: Diploma in French Language Studies</p>
    <h3>DALF</h3>
    <p class="lead">FRANÇAIS: Diplôme Approfondi De Langue Française</p>
    <p class="lead">ANGLAIS: Advanced french language diploma</p>
  </div>


      <hr>
      <!-- Footer -->
<!-- Footer -->
<%- include('../include/frend.ejs') %>
  <!-- Footer -->
<!-- Footer -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
  