<%- include('../include/frhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../include/frnav.ejs') %>

      <div class="container py-5 mt-2">
        <div class="row justify-content-center py-5">
          <div class="col-md-6">
            <span class="anchor" id="formLogin"></span> 
            <!-- form card login -->
            <div class="card card-outline-secondary mt-5">
              <div class="card-header">
                <h3 class="mb-0">Se connecter</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form" action="/fr/apprendre">
                  <div class="form-group">
                    <label for="mail">Addresse Email</label>
                    <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Addresse Email">
                
                  </div>
                  <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password"  placeholder="Mot de passe">
                  </div>
                  <div class="row">
                    <div class="col">
                      <a href="/fr/enregistrement">Creer un compte</a>
                    </div>
                    <div class="col">
                      <button class="btn btn-success btn-lg float-right" type="submit">Se connecter</button>
                    </div>
                  </div>
  
                </form>
              </div><!--/card-block-->
            </div><!-- /form card login -->
          </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  </body>
</html>