<%- include('../include/frhead.ejs') %>
<link rel="stylesheet" href="/css/page.css">
</head>
  <body>
  <!-- Navigation -->
  <%- include('../include/frnav.ejs') %>
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-10 mt-5 text-left">
            <div class="card">
                <div class="card-body citation">        
                Vous vivez une nouvelle vie pour chaque langue que vous parlez.
                </div>
              </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-3">
    <div class="container">
      <h2 class="font-weight-light">APPRENDRE LE FRANÇAIS</h2>
      <p>"Vous ne pouvez jamais comprendre une langue tant que vous n'en comprenez pas au moins deux." - Geoffrey Willans</p>
    </div>
  </section>

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <a href="/fr/classesdetails"><button type="button" class="btn btn-danger form-control action">APPRENDRE MAINTENANT</button></a>
          </div>
      </div>
  </div>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-6 mb-2">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/learn.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">COURS DE FRANÇAIS</h5>
                  <p class="card-text">Plus de 300 millions de personnes parlent le français sur les cinq continents. Le français est la deuxième langue étrangère la plus apprise après l'anglais. <strong> Dans ce cours, vous apprendrez le français à partir de zéro.</strong></p>
                  <a href="/fr/classesdetails" class="btn btn-primary">DÉTAILS DU COURS</a>
                </div>
              </div>
          </div>
          <div class="col-md-6mb-2">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="/pclass.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">SESSIONS PRATIQUES</h5>
                  <p class="card-text">
                    Ce cours a été créé pour aider ceux qui ont déjà des connaissances et souhaitent les améliorer à travers la Pratique. <strong>
                      Ce cours vous permet de pratiquer vos compétences d'expression orale, de lecture et d'écoute.</strong></p>
                  <a href="/fr/pratiquedetails" class="btn btn-primary">DÉTAILS DU COURS</a>
                </div>
              </div>
           </div>
      </div>
  </div>


      <hr>
      <!-- Footer -->
<!-- Footer -->
<%- include('../include/frend.ejs') %>
  <!-- Footer -->
<!-- Footer -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </body>
</html>
  