<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand pagebrand" href="/"> <img src="logo.png" alt="AEIG-logo" width="80" height="50">TopFrench-Learning</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <%= path === '/' ? 'active' : '' %>">
            <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item dropdown <%= path === '/services' ? 'active' : '' %>">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/classdetails">FRENCH CLASSES</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/practicedetails">PRACTICE SESSIONS</a>
            </div>
          </li>
          <li class="nav-item <%= path === '/contactus' ? 'active' : '' %>">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
          <li class="nav-item <%= path === '/login' ? 'active' : '' %>">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flag-icon flag-icon-us"></i> EN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/"><i class="flag-icon flag-icon-us"></i> English</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/fr/"><i class="flag-icon flag-icon-fr"></i> French</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  